MONGO_URI=<your_mongo_uri>

CLOUDINARY_Cloud=<your_cloudinary_cloud>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>

ADMIN_EMAIL=<your_admin_email>
ADMIN_PASSWORD=<your_admin_password>
ADMIN_USERNAME=<your_admin_username>

STRIPE_SECRET_KEY=<your_stripe_secret_key>

NODE_MAILER_USER=<your_nodemailer_user>
NODE_MAILER_PASS=<your_nodemailer_pass>